body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

h2 {
    text-align: center;
    color: #2c3e50;
    margin-top: 20px;
}

p {
    text-align: center;
    font-size: 1.2em;
    margin: 10px 20px;
}

ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

ul li {
    display: inline-block;
    margin: 10px 15px;
}

ul li a {
    text-decoration: none;
    color: #3498db;
    font-weight: bold;
    font-size: 1.1em;
    transition: color 0.3s ease;
}

ul li a:hover {
    color: #e74c3c;
}

h2[id] {
    text-align: center;
    color: #34495e;
    margin-top: 30px;
    font-size: 1.8em;
}

img {
    display: block;
    margin: 10px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

p {
    text-align: center;
    margin: 0 auto;
    font-size: 1.6;
}

br {
    margin-bottom: 20px;
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.band-button {
    display: block;
    margin: 0 auto; /* Centraliza horizontalmente o botão */
    text-align: center;
}
.band-button a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
}
.band-button a:hover {
    background-color: #2980b9;
}
.band-button a:active {
    background-color: #1abc9c;
}
.band-button a:focus {
    outline: none;
    box-shadow: 0 0 5px #2980b9;
}
.band-button a:visited {
    color: white;
}
.band-button a:visited:hover {
    color: white;
}




